.modal {
	background: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	position: absolute;
	width: fit-content;
	padding: 24px 20px 20px;
	top: 120px;
	right: 275px;
	z-index: 101;
}

.headerContainer {
	margin: 0 -15px 30px;
	padding: 45px 14px 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 154px;
}

.dropdownWrapper {
	height: 45px;
	width: 45px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: #FDBF3D;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdownWrapper svg {
	fill: white;
}

.mobileTitle {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #343435;
	margin-bottom: 25px;
	text-align: start;
}

.contactItem {
	display: flex;
	column-gap: 10px;
	text-align: start;
	align-items: center;
	margin-right: 0 !important;
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

.green {
	background-color: #5FA854;
}

.phone {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 2px;
	color: #333333;
}

.contactText {
	font-size: 14px;
	line-height: 16px;
	color: #BABABA;
}

.button {
	padding: 15px 60px;
	font-weight: 500;
	min-width: 286px;
}

.button.mobile {
	margin-top: 100%;
	width: 100%;
}

@media only screen and (max-width: 560px) {
	.modal {
		height: 100%;
		top: 0;
		position: fixed;
		left: 0;
		width: 100%;
		border-radius: 0;
		padding: 0 15px 40px;
	}

	.contactItem {
		margin-bottom: 24px;
	}
}