.App {
	text-align: center;
	font-family: Roboto, sans-serif;
	position: relative;
}

button {
	border-radius: 5px;
	font-size: 16px;
	line-height: 18px;
	border-width: 1px;
	padding: 10px 28px;
}

button.primary {
	background-color: #00AAC0;
	border: 1px #00AAC0 solid;
	color: #fff;
}

button.primary-outline {
	background-color: transparent;
	border: 1px #00AAC0 solid;
	color: #00AAC0;
}

button.secondary {
	background: #FDBF3D;
	border: 1px #FDBF3D solid;
	color: #fff;
}

button.secondary-outline {
	background-color: transparent;
	border: 1px #FDBF3D solid;
	color: #FDBF3D;
}

input {
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #E1E1E1;
	display: block;
	flex: 1;
	font-size: 16px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #B5B5B5;
	opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #B5B5B5;
}

input::-ms-input-placeholder { /* Microsoft Edge */
	color: #B5B5B5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.modalBackground {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100vw;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	z-index: 100;
}
