.container {
	position: fixed;
	z-index: 100;
	bottom: 20px;
	right: 20px;
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 80;
	transition: all ease 0.2s;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.filler {
	transition: all ease 0.2s;
	z-index: 100;
	background-color: transparent;
	outline: none;
	padding: 0;
}

.filler.open {
	background-color: gray;
}

.filler svg {
	fill: white;
	color: white;
	width: 40px;
	height: 40px;
}

.phone {
	background-color: #3333ff;
}

.whatsApp {
	background-color: #00a400;
	z-index: 70;
}

.phone.open {
	bottom: 100px;
}

.whatsApp.open {
	bottom: 180px;
}