.container {
	width: 100%;
	margin-bottom: 16px;
}

.label {
	font-size: 16px;
	color: #343435;
	margin-bottom: 6px;
	display: block;
	text-align: start;
}

.input {
	width: 100%;
}

.input.error {
	border-color: #D65745;
}

.errorMsg {
	margin-top: 8px;
	font-size: 14px;
	color: #D65745;
}