.modal {
	background: #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	position: fixed;
	width: fit-content;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 102;
	text-align: start;
	padding: 28px 32px 32px;
}

.close {
	position: absolute;
	top: 28px;
	right: 32px;
	border: none;
	background: transparent;
	padding: 0;
}

.header {
	font-size: 28px;
	line-height: 33px;
	color: #343435;
	margin-bottom: 16px;
}

.selectTab {
	margin-bottom: 16px;
	width: 100%;
}

.badge {
	padding: 12px 16px;
	border-radius: 5px;
	background-color: rgba(0, 170, 192, 0.15);
	display: flex;
	align-items: center;
	column-gap: 8px;
	font-size: 16px;
	line-height: 20px;
	color: #343435;
	margin-bottom: 16px;
}

.badge svg {
	fill: #00AAC0;
}

.button {
	width: 100%;
	padding: 15px 0;
	font-weight: 500;
	margin-top: 32px;
}

.container :global(.modalBackground) {
	top: 0;
	position: fixed;
}

@media only screen and (max-width: 560px) {

	.modal {
		top: 0;
		left: 0;
		width: 100%;
		transform: none;
		position: fixed;
		border-radius: 0;
		padding: 24px 16px 16px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.close {
		top: 24px;
		right: 16px;
	}

	.header {
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
	}

	.buttonWrapper {
		flex-grow: 1;
		display: flex;
		align-items: flex-end;
	}

}