.listContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	padding: 0 100px;
	margin-top: 50px;
}

.itemContainer {
	padding: 32px 24px 24px;
	height: fit-content;
}

.itemContainer:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
	display: none;
	min-width: 250px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 100%;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	font-size: 12px;
	line-height: 16px;
	color: #343435;
}

.itemContainer:hover > .img {
	transform: scale(1.1);
}

.img {
	max-height: 142px;
	height: 100%;
	max-width: 320px;
	min-height: 100px;
	width: 100%;
	object-fit: contain;
	transition: all ease 0.3s;
}

.nameWrapper {
	margin-left: -24px;
	margin-right: -24px;
	display: flex;
	justify-content: center;
}

.name {
	width: fit-content;
	font-size: 20px;
	line-height: 20px;
	color: #343435;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	margin-top: 10px;
	position: relative;
}

.name:hover svg {
	fill: #E1E1E1;
}

.name:hover .description {
	display: block;
}

.price {
	font-weight: bold;
	font-size: 24px;
	line-height: 42px;
	color: #343435;
	margin-bottom: 17px;
}

.button {
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	padding-top: 11px;
	padding-bottom: 9px;
}

.chevron {
	border: none;
	padding: 0;
	margin: 0;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FDBF3D;
	border-radius: 16px;
	position: absolute;
	top: 120px;
	z-index: 10;
}

.chevron svg {
	fill: white;
}

.chevron.right {
	right: 32px;
}

.chevron.left {
	left: 32px;
	transform: rotate(180deg);
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #E1E1E1;
	display: inline-block;
	margin: 0 4px;
}

.dot.selected {
	background-color: #00AAC0;
}

:global(.carousel-status) {
	display: none;
}

@media only screen and (max-width: 560px) {
	.button {
		visibility: visible;
	}

	.itemContainer {
		padding-top: 46px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		margin: 32px 16px 35px;
		z-index: 15;
	}

	.img {
		max-width: 220px;
	}

	.description {
		font-size: 16px;
		line-height: 18px;
		z-index: 15;
		min-width: 270px;
	}

	.container :global(.carousel .slider-wrapper) {
		overflow: visible !important;
	}

	.container :global(.carousel.carousel-slider) {
		overflow: visible !important;
	}

	.container :global(.carousel .control-dots) {
		z-index: unset;
	}

	.container :global(.carousel .thumbs-wrapper) {
		display: none;
	}
}